# yii console command
/yii

# phpstorm project files
.idea

# composer itself is not needed
composer.phar

# Yii runtime
/backend/runtime/
/backend/web/admin/
/frontend/runtime/
/console/runtime/

# Project Config
/environments/prod/
/environments/dev/

# Project index
/backend/web/index.php
